@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
    width: 100%;
    min-height: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Roboto", serif;
    background-color: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

.main {
    min-height: 87.41vh;
}

.home {
    display: flex;
    flex-direction: column;
}